@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Unbounded:wght@200..900&display=swap');
</style>

*{
    margin: 0;
    padding: 0;
}

    :root {
        --fundo-dark: #0E1014;
        --roxo-destaque: #9747FF;
        --roxo-hover:#8233E8;
        --branco: #ffffff;
        --fonte-principal: "Poppins", sans-serif;
    }

body  {
    background-color: var(--fundo-dark);
    color: var(--branco);
    font-family: var(--fonte-principal);
}

.cabecalho {
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding-top: 30px;
    
}
.cabecalho_modo-tela {
    padding: 0 0 0 600px;
}

h1 span {
    color: var(--roxo-destaque);
    margin-top: 60px;
}

.principal {
    text-align: center;
    display: block;
    justify-content: center;

}

.principal__itens {
    display:grid;
    justify-content: center;
}

h1 {
    font-family:"Unbounded", sans-serif;
    font-size: 64px;
    text-align: center;
    font-weight: 700;
}

p {
    font-size: 24px;
    text-align: center;
    /*font-weight: 400;*/
    /*padding-inline: 300px;*/
    margin: 24px auto 0;
    width: 792px;
}

a {
    color: var(--branco);
    text-decoration: none;
    font-size: 24px;
    background-color: var(--roxo-destaque);
    width: 340px;
    height: 66px;
    border-radius: 36px;
    display: block;
    text-align: center;
    padding-top: 24;
    line-height: 66px;
    margin: 40px auto 0;
}

a:hover {
    background-color: var(--roxo-hover);
}

.principal__celulares {
    display: block;
    width: 792px;
    height: 446px;
    margin: 0 auto;
}

@media(max-width: 768px) {
    .logo{
        width: 209.29px;
        margin: 65px 0 0 60px;
    }

    .cabecalho_modo-tela{
        display: none;
    }
    

    p{
        width: 648px;
    }
}

@media(max-width: 375px) {
    header img{
        margin: 32px 0 0 16px;
    }

    h1{
        font-size: 40px;
    }

    p{
        font-size: 20px;
        width: 340px;
    }

    .principal__celulares{
        width: 340px;
        height: 230px;
    }

    a{
        font-size: 20px;
        width: 251px;
    }

    .cabecalho_modo-tela{
        display: none;
    }
}
